<form method="POST" action="/create">

<fieldset>
  <label for="name">Name</label/>
  <input type="text" name="name" />
</fieldset>


<fieldset>
  <label for="wingspan">Wing Span</label/>
  <input type="text" name="wingspan" />
</fieldset>

<fieldset>
  <label for="image_url">Image URL</label/>
  <input type="text" name="image_url"/>
</fieldset>


<input type="submit" value="Save"/>

</form>
